@page
@{
    ViewData["Title"] = "Sign Up | ArtVista";
}

<section class="signup" style="overflow: hidden; height: 100%;">
    <div class="media">
        <video autoplay loop muted><source src="https://cdn.dribbble.com/uploads/48292/original/30fd1f7b63806eff4db0d4276eb1ac45.mp4?1689187515"></video>
    </div>
    <div class="authContent">
        <span class="auth-text">Sign up to ArtVista</span>
        <form>
            <input type="text" name="username" class="username field pad7 mar6" required placeholder="Username">
            <input type="email" name="email" class="email field pad7 mar6" required placeholder="Email">
            <input type="password" name="password" class="password field pad7 mar6" placeholder="Password" required>
            <button class="submit-button pad7 mar6">Sign Up</button>
        </form>
        <span class="terms-message">By creating an account you agree with our <a href="#">Terms of Service, privacy Policy,</a> and our default <a>Notification Settings.</a></span>
        <span class="auth-prompt">Already have an account? <a asp-page="/Login">Sign In</a></span>
    </div>
</section>

